a {
    text-decoration: none;
    color: inherit;
}

#sign-up {
    border: 1px black solid;
    border-radius: 5px;
    padding: 4px 8px 4px 8px !important;
}

#search-bar-button{
    background-color: #FE6032;
    border-color: #FE6032;
}

.product:hover{
    border-color: #FE6032 !important;
    cursor: pointer;
}
.special-width {
    width: calc(20% - 8px);
}
.productImage{
    /* background-color: aqua; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    aspect-ratio: 1 / 1;
    width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.productPrice {
    color: #FE6032;
}

.productCategory{
    font-size: small;
}
.productRating{
    font-size: small;
}
.productShip{
    font-size: small;
    font-weight: lighter;
}

.productStock{
    font-size: small;
}