*{
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}

#sign-up {
    border: 1px black solid;
    border-radius: 5px;
    padding: 4px 8px 4px 8px !important;
}

#search-bar-input {
    border-radius: 0.375rem 0rem 0rem 0.375rem !important;
}
#search-bar-input:focus {
    border-color: #FE6032;
}

#search-bar-button{
    background-color: #FE6032;
    border-color: #FE6032;
    border-radius: 0rem 0.375rem 0.375rem 0rem !important;
}