name: Push static site to Google Cloud Storage
on:
  push:
    branches: [main]
    
jobs:
  push-site:
    name: Push site
    runs-on: ubuntu-latest
    env:
      PROJECT_ID: eti-assignment2
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Authenticate to Google Cloud
      uses: 'google-github-actions/auth@v1'
      with:
        credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'
    - name: Upload files
      uses: 'google-github-actions/upload-cloud-storage@v1'
      with:
        path: 'frontend/**'
        destination: 'buyee'
